<footer class="footer" style="position: absolute; bottom: 0; width: -webkit-fill-available;">
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://apps.iee.ihu.gr/" target="_blank">Apps</a></li>
                    <li><a href="https://www.scopus.com/home.uri?zone=header&origin=" target="_blank">Scopus</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © Scopy 2020
                </span>
            </div>
        </div>
    </div>
</footer>